*{
    font-family: monospace;
    color: #0f2424;
    box-sizing: border-box;
}

body {
  margin-bottom: 100px;
}

h1, h2, p {
    text-align: center;
}

h1 span {
  font-size: 50px;
  font-family: impact, sans-serif;
  color: #244b49;
}

h1 em {
font-size: 20px;
}

p {
  color: #00000066;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex; 
  justify-content: center;
  clear: both;
  background-image: linear-gradient(to bottom right, #285d58, #6abeb0);
  }

  footer li, footer a{
    display:inline-block;
    padding: 5px 10px;
    color: white;
  }

  .project-carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.box {
    background-color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 100px; /* width slightly larger than image */
}

.box img {
    max-width: 100%;
    border-radius: 8px;
}

.box p {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}


.form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.form-container {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.form-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.form-container h2 {
  margin-top: 0;
}
.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container label {
  margin-bottom: .5em;
  color: #333;
}
.form-container input, .form-container textarea {
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  margin: auto;
  background-color: white;
  text-decoration: none;
  padding: 14px 35px;
  border-color: #2e736c;
  border-radius: 5px;
}

button:hover {
  background-color: #2e736c;
  color: white;
}

button:active {
  background-color: #285d58;
  color: white;
}

#explore-more {
  display: flex;
  justify-content: center;
}

#explore-more button {
  margin: 20px;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

#download-resume img {
  display: block;
  margin: auto;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}